doctype html
html(lang="en")
  head
    <!-- ============== meta tags ============== -->
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", 
      content="Car Zone is a highly creative, modern, visually stunning and fullty responsive multipurpose portfolio HTML5 template.")
    <!-- ============== favicon ============== -->
    link(rel="shortcut icon", href="public/images/favicon.ico", type="image/x-icon")
    <!-- ============== website title ============== -->
    title car zone
    <!-- ============== google fonts ============== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- ============== css bundles ============== -->
    link(rel="stylesheet", href="public/css/fontello.css")
    <!-- ============== main style ============== -->
    link(rel="stylesheet", href="public/css/style.css")
  body.text-sm.leading-loose.font-body(class="sm:text-lg")
    <!-- ============== navigation bar ============== -->
    nav.absolute.w-full.z-10
      //- container satarts
      .container.flex.items-center.pt-16.pb-8(class='lg:justify-between')
        //- logo
        .logo.mr-auto(class='lg:mr-0')
          img(class='w-2/3 xs:w-full',src="public/images/logo.svg", width="", height="", alt="website logo")
        //- notification holder (visible on mobile only)
        .relative.mr-1(class="lg:hidden xs:mr-4 sm:mr-10")
          div.notfication-num.w-4.aspect-square.rounded-full.bg-red-600.text-xs.text-white.grid.place-items-center.text-xs.absolute.top-0.left-0(class='sm:w-5 -translate-y-1/2 translate-x-1/2') 4
          img(class="w-10/12", src="public/images/bell.svg", width="", height="", alt="notifcation icon")
        //- menu button
        .menu-button.text-xl.relative.z-30
          i.icon-menu-outline(class='lg:hidden')
        //- navigation menu
        ul.nav-list.flex.flex-col.items-center.uppercase.font-medium.gap-12.absolute.inset-0.h-screen.justify-center.bg-white.-translate-y-full.duration-700.bg-white.z-20(class='lg:relative  lg:h-auto lg:justify-start lg:bg-none lg:flex-row lg:translate-y-0')
          li.group.active
            a(class="duration-300 group-hover:text-main-color group-[.active]:text-main-color", href="#") home
            div.w-full.h-px.bg-main-color.rounded-full.duration-300.scale-x-0(class="group-hover:scale-x-100 group-[.active]:scale-x-100")
          li.group
            a(class="duration-300 group-hover:text-main-color group-[.active]:text-main-color", href="#") new
            div.w-full.h-px.bg-main-color.rounded-full.duration-300.scale-x-0(class="group-hover:scale-x-100 group-[.active]:scale-x-100")
          li.group
            a(class="duration-300 group-hover:text-main-color group-[.active]:text-main-color", href="#") used
            div.w-full.h-px.bg-main-color.rounded-full.duration-300.scale-x-0(class="group-hover:scale-x-100 group-[.active]:scale-x-100")
          li.group
            a(class="duration-300 group-hover:text-main-color group-[.active]:text-main-color", href="#") car detil
            div.w-full.h-px.bg-main-color.rounded-full.duration-300.scale-x-0(class="group-hover:scale-x-100 group-[.active]:scale-x-100")
          li.group
            a(class="duration-300 group-hover:text-main-color group-[.active]:text-main-color", href="#") pages
            div.w-full.h-px.bg-main-color.rounded-full.duration-300.scale-x-0(class="group-hover:scale-x-100 group-[.active]:scale-x-100")
          li(class='lg:hidden')
            a.inline-block.py-3.px-6.border-2.border-black.rounded-md.capitalize.cursor-pointer(href="#") login
        //- notification and CTA holder (visible on desktop only)
        .items-center.gap-10.hidden(class="lg:flex")
          //- notification holder
          div.relative.cursor-pointer.group
            //- notification icon
            div.notfication-num.w-5.h-5.rounded-full.bg-red-600.text-white.grid.place-items-center.text-xs.absolute.top-0.left-0(class='-translate-y-1/2 translate-x-1/2') 4            
            img(src="public/images/bell.svg", width="", height="", alt="notifcation icon")
            ul(class="absolute top-full border-2 border-black rounded-md mt-7 px-4	py-2 w-48 bg-white z-20 left-1/2 -translate-x-1/2 translate-y-1/2 opacity-0 pointer-events-none duration-700 ease-out group-hover:translate-y-0 group-hover:opacity-100  group-hover:pointer-events-auto after:content-[''] after:block after:bg-transparent after:border-[25px] after:border-transparent after:border-b-white after:absolute after:bottom-full after:left-1/2 after:-translate-x-1/2 border-2 border-black before:content-[''] before:block before:bg-transparent before:border-[27px] before:border-transparent before:border-b-black before:absolute before:bottom-full before:left-1/2 before:-translate-x-1/2 capitalize")
              li(class='ps-1 pb-1 pt-2 border-b-2 whitespace-nowrap overflow-hidden text-ellipsis') rate your trip
              li(class='ps-1 pb-1 pt-2 border-b-2 whitespace-nowrap overflow-hidden text-ellipsis') your car is ready for pick up
              li(class='ps-1 pb-1 pt-2 border-b-2 whitespace-nowrap overflow-hidden text-ellipsis') verify your email
              li(class='ps-1 py-1 whitespace-nowrap overflow-hidden text-ellipsis') welcome to carzone
          //- login
          .group.relative.overflow-hidden.cursor-pointer.rounded-md
            //- login link
            a.block.py-3.px-6.border-2.border-black.capitalize.relative.z-10.duration-300(class="group-hover:text-white group-hover:border-main-color", href="#") login
            //- link hover decoration
            .absolute.w-full.h-full.bg-main-color.top-full.left-0.duration-200(class="group-hover:top-0")


    <!-- ============== hero section ============== -->
    section.hero-section.relative.min-h-screen.flex.items-center.justify-center.pt-52(class="sm:pt-50")
      //- background orange decoration
      div.absolute.w-full.h-full.inset-0.overflow-hidden.opacity-20(class='z-[-1]')
        div.aspect-square.bg-main-color.rounded-full.absolute.inset-0(class='w-4/12 -translate-x-3/4 -translate-y-1/2 shadow-[2px_2px_30px_30px_var(--main-color)]')

        div.aspect-square.bg-main-color.rounded-full.absolute.bottom-0.right-0(class='w-4/12 translate-x-3/4 translate-y-1/2 shadow-[2px_2px_30px_30px_var(--main-color)]')
      //- container
      .container
        //-first row, flex container
        div(class="lg:flex")
          //- heading holder
          .capitalize.grow.leading-none.text-2xl.mb-10(class='xs:text-4xl sm:text-[65px]')
            h1.mb-2(class="sm:mb-5") best in auto
            p.font-heading.pl-4(class='sm:pl-28') rent &amp; service
          //- image holder
          div.relative.rounded-full.overflow-hidden(class="lg:w-2/5")
            //- image decorateive curve
            .rounded-full.absolute.left-10.bottom-5.w-full.h-full.border-2.border-white.rounded-full
              //- image
            img.w-full(src="public/images/hero-image.webp", width="571", height="346",  alt="back view of a convertible vintage orange car")
        //- second row, grid container
        .hero-row.grid-cols-2.items-end.gap-14(class="lg:grid")

          p.leading-relaxed.col-start-2.mt-20(class="max-sm:mt-40") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to

          //- image holder
          div.relative.rounded-full.overflow-hidden.z-10(class="translate-y-1/2 lg:w-2/5 lg:absolute max-lg:-mt-[20%]")
            //- image decorateive curve
            .rounded-full.absolute.right-10.bottom-5.w-full.h-full.border-2.border-white.rounded-full
            //- image
            img.w-full.h-full(src="public/images/hero-image2-cropped.webp", width="564", height="366",  alt="front view of vintage orange car")



    <!-- ============== why us section ============== -->
    section.why-us-section.relative.pt-48.pb-24.bg-main-color.text-white.overflow-hidden(class="xs:max-lg:pt-72")
      //- decorative phrase
      div.group.animate
        p(class="lg:block hidden font-heading text-7xl absolute right-2 top-20 decorative-title translate-x-2/3 group-[.in-view]:translate-x-0 opacity-0 group-[.in-view]:opacity-20 ease-out duration-3000") why choose us ?
      .container
        h2.text-center.mb-4.leading-normal(class="sm:mb-0") why choose us ?
        p.text-center.mx-auto.mb-12(class='sm:w-2/3 lg:md-9') Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus. Saepe convallis, nostra. Ducimus convallis necessitatibus alias
        //- grid container
        div.grid.gap-20.group.animate(class="md:grid-cols-3 md:gap-5 lg:gap-12")
          //- first box
          div(class="card translate-y-2/3 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-2000")
            img(src="public/images/why-us-car1.webp", width="456", height="342", alt="side view vintage dark green car")
            //- heading holder
            div.heading-holder
              h2(class="text-3xl sm:text-4xl md:text-xl lg:text-3xl xl:text-4xl") Online Vehicle Rental <br> Booking

              .heading-decoration.bg-white.-translate-x-full(class="w-3/12")


            p(class="md:text-sm") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.

          //- second box
          div(class="card md:mt-10 lg:mt-20 translate-y-2/3 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-2000 delay-500")
            img(src="public/images/why-us-car2.webp", width="456", height="342", alt="side view vintage dark green car")
            //- heading holder
            div.heading-holder
              h2(class="text-3xl sm:text-4xl md:text-xl lg:text-2xl xl:text-4xl") Professional Technician <br> Services

              .heading-decoration.bg-white.-translate-x-full(class="w-3/12")


            p(class="md:text-sm") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.

          //- third box
          div(class="card md:mt-20 lg:mt-40 translate-y-2/3 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-2000 delay-700")
            img(src="public/images/why-us-car3.webp", width="456", height="342", alt="side view vintage dark green car")
            //- heading holder
            div.heading-holder
              h2(class="text-3xl sm:text-4xl md:text-xl lg:text-3xl xl:text-4xl") Full Auto Servicing <br> Facility

              .heading-decoration.bg-white.-translate-x-full(class="w-3/12")


            p(class="md:text-sm") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.


    <!-- ============== rent a car ============== -->
    section.rent-a-car-seciton.relative.pt-32.pb-6.overflow-hidden
      //- background orange decoration
      div.absolute.w-full.h-full.inset-0.overflow-hidden.opacity-20(class='z-[-1]')
        div.aspect-square.bg-main-color.rounded-full.absolute.inset-0(class='w-4/12 -translate-x-3/4 -translate-y-1/2 shadow-[2px_2px_30px_30px_var(--main-color)]')

      .container
        //- grid container
        div(class="lg:grid lg:gap-10 lg:grid-cols-[2fr_1fr]")
          //- form holder
          div
            h2 book and rent a car
            p.mb-20 Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus. Saepe convallis, nostra. Ducimus convallis necessitatibus alias, bibendum elit nemo.

            //- the rent form
            form.flex.flex-col.gap-y-4.items-stretch.mb-16.relative.overflow-hidden(class="sm:grid sm:grid-cols-2 ms:gap-x-4 sm:gap-y-12", action="POST") 
              input#user-name.py-4.px-8(class="placeholder:text-black placeholder:font-light placeholder:capitalize", type="text", name="user name", placeholder="your name")

              input#emil.py-4.px-8(class="placeholder:text-black placeholder:font-light placeholder:capitalize", type="email", name="email", placeholder="your email")

              input#phone-number.py-4.px-8(class="placeholder:text-black placeholder:font-light placeholder:capitalize", type="tel", name="phone number", placeholder="your phone number")
              label.absolute.top-0.-translate-x-full(for="car-type") car type
              select#car-type.capitalize.py-4.px-8.font-light.capitalize(name="car type")
                option(value="toyta") toyta
                option(value="nissan") nissan
                option(value="honda") honda
                optoin(value="tesla") tesla

              input#pick-up-date.py-4.px-8(class="w-full placeholder:text-black placeholder:font-light placeholder:capitalize", type="text", onfocus="(this.type='date')", name="pick up date", placeholder="pick up date")

              input#drop-off-date.py-4.px-8(class="w-full placeholder:text-black placeholder:font-light placeholder:capitalize", type="text", onfocus="(this.type='date')", name="drop off date",placeholder="drop off date")

              input.capitalize.py-5.px-10.bg-main-color.rounded-md.text-white.text-sm.font-bold.justify-self-start.cursor-pointer.duration-300(class="hover:bg-transparent hover:text-main-color", type="submit", value="inquiry now")
          //- image holder
          div.border-2.border-main-color.rounded-3xl.self-end.relative.group.animate(class="xs:right-9 lg:right-0 sm:max-lg:w-1/2 sm:max-lg:mx-auto")
            img.rounded-3xl.relative.w-full(class="top-0 left-0 xs:group-[.in-view]:top-5 xs:group-[.in-view]:left-14 sm:group-[.in-view]:left-28 lg:group-[.in-view]:rounded-tr-none ease-out duration-1500", src="public/images/book-a-car.webp", width="501", height="543", alt="side view of a small vintage orange car")

    <!-- ============== comfortable car for hire section ============== -->
    section.relative.pt-32.pb-28
      //- background orange decoration
      div.absolute.w-full.h-full.inset-0.overflow-hidden.opacity-20(class='z-[-1]')
        div.aspect-square.bg-main-color.rounded-full.absolute.bottom-0.right-0(class='w-4/12 translate-x-3/4 translate-y-1/2 shadow-[2px_2px_30px_30px_var(--main-color)]')

      .container
        h2.text-center.text-3xl.leading-snug.mb-8(class="sm:text-4xl sm:mb-0") comfortabel car for hire !
        p.text-center.mb-20.leading-loose.mx-auto(class='sm:w-1/2') Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus. Saepe convallis, nostra. Ducimus convallis necessitatibus alias, bibendum elit nemo.
        //- grid container
        div(class="sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-10")
          //- first box
          div.group.animate
            img.object-cover.mb-6.w-full(class="sm:mb-0 sm:self-stretch duration-1500 scale-0 group-[.in-view]:scale-100 opacity-0 group-[.in-view]:opacity-100", src="public/images/comfortable-main.webp", width="369", height="475",  alt="side view of the rear of an orange beatle car")
          //- second box
          div
            p.mb-8 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessaryc.

            p.mb-8(class="sm:mb-0") If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessaryc.
          //- third box (also grid container)
          div.grid.grid-cols-2.gap-5.group.animate(class="sm:col-span-full lg:col-span-1 justify-items-center")
            img.rounded-full.object-cover.h-full(class="duration-1000 scale-0 group-[.in-view]:scale-100 opacity-0 group-[.in-view]:opacity-100 delay-300", src="public/images/comfortable-oval-beatle.webp", width="244", height="319",  alt="wide lence shot of a the back of a yellow beatle car among old buildings")

            img.object-cover.h-full(class="duration-1000 scale-0 group-[.in-view]:scale-100 opacity-0 group-[.in-view]:opacity-100 delay-600", src="public/images/comfortable-driving-wheel.webp", width="250", height="309",  alt="old luxuries driving wheel of an orange vintage car")

            img.col-span-2.object-cover.h-full.w-full(class="duration-1000 scale-0 group-[.in-view]:scale-100 opacity-0 group-[.in-view]:opacity-100 delay-700", src="public/images/comfortable-car-back.webp", width="547", height="169",  alt="back of an orange convortable car")

    <!-- ============== comfortable car for hire 2 section ============== -->
    section.relative.pt-20.bg-main-color.text-white.overflow-hidden
      //- decorative phrase
      div.group.animate
        p(class="lg:block font-heading text-7xl absolute right-6 top-14 hidden decorative-title translate-x-2/3 group-[.in-view]:translate-x-0 opacity-0 group-[.in-view]:opacity-100 ease-out duration-3000") Comfortable Car
      .container
        //- grid container
        div(class="lg:grid lg:grid-cols-2 lg:items-end lg:mb-12 lg:justify-items-center")
          h2.mb-8.text-3xl.leading-snug(class="lg:pb-28 xl:pb-8 md:text-6xl xl:text-7xl") Comfortable Car <br class="hidden sm:block"> For Hire !

          p.leading-loose(class="max-lg:mb-10") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
        //- image holder
        div.relative.mx-auto.mb-12.group.animate(class='mb-[65%] lg:mb-[25%] lg:-mt-48 lg:w-4/5 lg:translate-y-1/2 shadow-[1px_1px_100px_rgba(0,0,0,0.7)]')
          img.absolute.object-cover.z-20(class="max-lg:top-full max-lg:w-1/2 max-lg:h-full top-[9%] lg:-translate-x-1/2 -translate-y-2/3 group-[.in-view]:-translate-y-0 opacity-0 group-[.in-view]:opacity-100 ease-out duration-1500 delay-100", src="public/images/comfortable2-secondary-left.webp", width="237", height="182",  alt="front view of an old beatle car with a black right wing in front of an old villa")

          img.object-cover.w-full(class="opacity-0 group-[.in-view]:opacity-100 duration-1000", src="public/images/comfortable2-main.webp", width="1127", height="436",  alt="side view of a yellowish beatle in front of an old house with a black iron fence in the autumn")

          img.absolute.object-cover.right-0(class="max-lg:top-full max-lg:w-1/2 max-lg:h-full lg:-bottom-9 lg:-right-1 translate-y-2/3 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 ease-in-out duration-1500 delay-100", src="public/images/comfortable2-secondary-right.webp", width="252", height="192",  alt="old yellow beatle car with a bike on its grate parked infront of a luxuries house with a tree beside the house door")

    <!-- ============== staff section ============== -->
    section.relative.mb-4
      //- background orange decoration
      div.absolute.w-full.h-full.inset-0.overflow-hidden.opacity-20(class='z-[-1]')
        div.aspect-square.bg-main-color.rounded-full.absolute(class='w-4/12 top-1/4 -translate-x-3/4 -translate-y-1/2 shadow-[2px_2px_30px_30px_var(--main-color)]')

      //- container starts
      .container
        h2.text-center.mb-6 our faithful staff

        p.text-center.mx-auto.mb-10(class="sm:w-2/3") Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus. Saepe convallis, nostra. Ducimus convallis necessitatibus alias, bibendum elit nemo.

        //- grid container
        div.grid.gap-20.group.animate(class="md:mt-24 md:grid-cols-3 md:gap-4")
          //- first box
          div.card(class="translate-y-1/2 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-1500")
            img.mb-8(src="public/images/staff1.webp", width="456", height="342",  alt="smiling staff memeber facing the camera with his arms crossed wearing a dark havan pullover with light blue shirt under it, and glasses on his face")

            //- heading holder
            div.heading-holder
              h2(class="text-3xl sm:text-4xl md:text-3xl xl:text-4xl") william scott

              .heading-decoration.bg-black.translate-x-full(class="w-2/12")


            p.capitalize.font-medium rental agent

            //- icon with text holder
            .flex.items-center(class="gap-0.5")
              i.icon-phone
              span (+89)652 555 320


          //- second box
          div.card(class="translate-y-1/2 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-1500 delay-500 md:mt-10 lg:mt-20")
            img.mb-8(src="public/images/staff2.webp", width="456", height="342",   alt="smiling staff memeber facing the camera with a snowy background wearing a black hoody")

            //- heading holder
            div.heading-holder
              h2(class="text-3xl smd:text-4xl md:text-3xl xl:text-4xl") william scott

              .heading-decoration.bg-black.translate-x-full(class="w-2/12")


            p.capitalize.font-medium rental agent

            //- icon with text holder
            .flex.items-center(class="gap-0.5")
              i.icon-phone
              span (+89)652 555 320


          //- third box
          div.card(class="translate-y-1/2 group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-1500 delay-700 md:mt-20 lg:mt-40")
            img.mb-8(src="public/images/staff3.webp", width="456", height="342",   alt="smiling bearded staff memeber facing the camera with his arms crossed wearing a light blue shirt")

            //- heading holder
            div.heading-holder
              h2(class="text-3xl sm:text-4xl mg:text-3xl xl:text-4xl") william scott

              .heading-decoration.bg-black.translate-x-full(class="w-2/12")


            p.capitalize.font-medium rental agent

            //- icon with text holder
            .flex.items-center(class="gap-0.5")
              i.icon-phone
              span (+89)652 555 320

    <!-- ============== review section ============== -->
    section.relative.pt-36.pb-44
      .container
        div(class="lg:flex lg:items-end lg:justify-center sm:mb-20 sm:text-center lg:text-start")
          h2.mb-12.-mr-20(class="lg:w-fit") read the best review <br> from our users

          p(class="lg:w-2/5") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised

        //- grid container
        div.grid.grid-cols-1.group.animate(class="sm:grid-cols-2 lg:grid-cols-3")
          //- first box
          .pt-10.pb-7.rounded-3xl.mb-16(class="px-8 md:-translate-y-2/3 md:group-[.in-view]:-translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-1500")
            p.mb-8.font-light I am very satisfied with the services provided and the consultation is very pleasant. The doctors are also friendly and very trustworthy and reliable

            //- star container
            div.flex.items-center.mb-10.text-2xl.text-yellow-500
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star

            //- image with name
            div.flex.items-center.gap-6
              img(src="public/images/client1.webp", width="40", height="40", alt="a man facing the camera and smiling with a pink background")

              span.capitalize.font-medium ronney samba

          //- second box
          .pt-10.pb-7.rounded-3xl.bg-main-color.text-white.mb-16(class="md:translate-y-2/3 md:group-[.in-view]:translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-1500 px-8 lg:mt-24")
            p.mb-8.font-light I am very satisfied with the services provided and the consultation is very pleasant. The doctors are also friendly and very trustworthy and reliable

            //- star container
            div.flex.items-center.mb-10.text-2xl.text-yellow-500
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star

            //- image with name
            div.flex.items-center.gap-6
              img(src="public/images/client3.webp", width="40", height="40",  alt="a man facing the camera and smiling with a pink background")

              span.capitalize.font-medium jenniver janet

          //- third box
          .pt-10.pb-7.rounded-3xl.mb-16(class="md:-translate-y-2/3 md:group-[.in-view]:-translate-y-0 opacity-0 group-[.in-view]:opacity-100 duration-1500 px-8 sm:col-span-full lg:col-span-1 sm:text-center lg:text-start")
            p.mb-8.font-light I am very satisfied with the services provided and the consultation is very pleasant. The doctors are also friendly and very trustworthy and reliable

            //- star container
            div.flex.items-center.mb-10.text-2xl.text-yellow-500(class="sm:justify-center lg:justify-start")
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star

            //- image with name
            div.flex.items-center.gap-6(class="sm:justify-center lg:justify-start")
              img(src="public/images/client3.webp", width="40", height="40",  alt="a man facing the camera and smiling with a pink background")

              span.capitalize.font-medium ronney samba

    <!-- ============== footer section ============== -->
    footer.text-white.pt-28(class='bg-[#150A05]')
      .container(class="lg:px-12")
        div.mb-28(class="sm:flex sm:items-center sm:justify-between")
          h2.mb-16.text-center(class="sm:mb-0 sm:text-start sm:w-fit") welcome car zone

          a.bg-main-color.text-white.rounded-full.py-5.px-14.block.text-center.border-2.border-transparent.duration-300(class="hover:bg-transparent hover:text-main-color hover:border-main-color", href="#") view car
        .w-full.rounded-full.bg-white.mb-20(class='h-0.5')

        //- grid container
        div.grid.grid-cols-1.text-center(class='sm:text-start sm:gap-x-12 sm:gap-y-32 sm:grid-cols-[1fr_2fr]')
          //- first box
          div
            img.mb-2(src="public/images/logo-light.svg", width="", height="", alt="logo")
            p Eiusmod condimentum totam, ultrices, quis elem entum, dui.

          //- second box
          div.grid.grid-cols-1.gap-10.py-16(class="sm:grid-cols-3 sm:py-0")
            //- first sub box
            div
              p.mb-3.font-medium.uppercase.text-3xl(class="sm:text-2xl") about us
                ul
                  li
                    a(href="#") home
                  li
                    a(href="#") about
                  li
                    a(href="#") car
                  li
                    a(href="#") team

            //- second sub box
            div
              p.mb-3.font-medium.uppercase.text-3xl(class="sm:text-2xl") company
                ul
                  li
                    a(href="#") core values
                  li
                    a(href="#") partner w/us
                  li
                    a(href="#") blog
                  li
                    a(href="#") contact

            //- third sub box
            div
              p.mb-3.font-medium.uppercase.text-3xl support
                ul
                  li
                    a(href="#") support center
                  li
                    a(href="#") feedback
                  li
                    a(href="#") accessability


          //- third box
          div.flex.flex-col.items-center.col-span-full
            div.w-full(class="md:w-3/5 md:mx-auto")
              h2.text-3xl.mb-6 get in touch

              form.flex.flex-col.gap-5(action="POST")
                input#news-letter-email.py-3.px-5.text-white.rounded-full(type="text", name="news letter email", placeholder="your email here", class='bg-main-color/20 placeholder:text-white')

                input.rounded-full.bg-main-color.text-white.cursor-pointer(class="py-3.5 lg:px-40", type="submit", value="get access")

        //- copyright
        div.pb-2.mt-40.capitalize.text-center.text-sm
          div.mb-2.flex.flex-col.gap-4.justify-center(class="flex-row")
            div.capitalize
              | coded with 
              i.icon-heart.text-main-color
              | by 
              span.text-main-color IH codes
            div.capitalize
              | designed by 
              a.text-main-color.underline.duration-300(class="hover:text-white", href="https://www.figma.com/@tanvier") tanvir hasan
          | &copy; 2023 car zone. all rights reserved


    script(src="public/js/script.js") 
